@import "../../node_modules/tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.custom-modal .ant-modal-close-x {
  color: black; // желаемый цвет
}

.custom-modal .ant-modal-close:hover .ant-modal-close-x {
  color: darkgrey; // цвет при наведении
}